.imgLayer {
  position: relative;
  /* width: 800px; */
}

.imgLayer:hover .layer {
  /* background-color: #000000bd; */
  background-color: #00000073;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figcaption {
  position: absolute;
  left: 35%;
  top: 30%;
  display: none;
}
.imgLayer:hover .figcaption {
  display: block;
}
